@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  height: calc(100dvh - theme('spacing.16'))
}

.main-clamp {
  width: clamp(23ch, 80%, 120ch);
}

.clamp {
  width: clamp(23ch, 80%, 46ch);
}

@layer utilities {
  .hidden-scrollbar {
    overflow: scroll;
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }

  .svg-icon {
    @apply fill-slate-600 h-5 w-5 flex-no-shrink fill-current;
  }
}
